body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
}

.container {
  width: 400px;
  margin: auto;
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.7);
  padding: 25px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #00c6ff;
  border: none;
  font-size: 16px;
}
